{% if is_granted('ROLE_SPORT_ADMIN') %}
    <br/><br/>

    {% if  inscriptions|length > 0 %}

        <h3 class="text-success">{{ inscriptions|length }} inscrits à cette activité</h3>

        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Inscrit le</th>
                <th>Ordre de préférence</th>
            </tr>
            </thead>
            <tbody>
            {% for inscription in inscriptions %}
                <tr>
                    <td>
                        <a href="{{ path('sport_admin_person_show', {'uuid': inscription.person.uuid}) }}">
                            {{ inscription.person.name|upper }} {{ inscription.person.surname }}
                        </a>
                    </td>
                    <td>{{ inscription.person.email }}</td>
                    <td>{{ inscription.createdAt|format_datetime('full', 'short') }}</td>
                    <td>{{ inscription.preferenceNumber }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-info">Aucune</p>
    {% endif %}
{% endif %}