{% extends '@AcMarcheSport/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h3>{{ activity }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheSport/activity/_actions.html.twig' %}

            <p class="text-muted mt-3">
                {{ activity.description|nl2br }}
            </p>

            {% include '@AcMarcheSport/activity/_list_inscriptions.html.twig' %}

            {% if is_granted('ROLE_SPORT_ADMIN') %}
            <br/><br/>

            <h3>Répartitions des inscrits</h3>

            <form name="form1" id="form1" onsubmit="return false;">
                <div class="row mb-5">
                    <div class="col-5">
                        <h4 class="text-success">Participants inscrits</h4>
                        <select multiple style="width: 400px;height: 400px;" class="form-select" name="leftProcess">
                            {% for inscription in inscriptionsNotValidated %}
                                <option value="{{ inscription.id }}">
                                    {{ inscription.person.name|upper }} {{ inscription.person.surname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-1 mt-5">
                        <button class="btn btn-primary" onclick="moveRight('leftProcess','rightProcess');">>></button>
                        <br/><br/>
                        <button class="btn btn-primary" onclick="moveRight('rightProcess','leftProcess')"><<</button>
                    </div>

                    <div class="col-5">
                        <h4 class="text-success" id="result_ajax">{{ inscriptionsValidated|length }} participants sélectionnés</h4>
                        <select multiple style="width: 400px;height: 400px;" class="form-select" name="rightProcess">
                            {% for inscriptionValidated in inscriptionsValidated %}
                                <option value="{{ inscriptionValidated.id }}">
                                    {{ inscriptionValidated.person.name|upper }} {{ inscriptionValidated.person.surname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function moveRight(leftValue, rightValue) {
            const leftSelect = document.forms["form1"].elements[leftValue];
            const rightSelect = document.forms["form1"].elements[rightValue];
            if (leftSelect.selectedIndex == -1) {
                window.alert("You must first select an item on the left side.")
            } else {
                const option = leftSelect.options[leftSelect.selectedIndex];
                rightSelect.appendChild(option);

                const action = leftValue === 'leftProcess' ? 'add' : 'remove'
                sendRequest(rightSelect.value, action)
            }
        }
    </script>

    <script>
        async function sendRequest(inscriptionId, action) {
            const data = {'inscriptionId': inscriptionId, 'action': action}
            await fetch('{{ path('sport_inscription_distribution',{'id':activity.id}) }}', {
                method: 'post',
                body: JSON.stringify(data),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((response) => {
                  console.log(response)
                return response.json()
            }).then((res) => {
                console.log(res.message.content)
                //   if (res.status === 200) {
                var groupe_selector = document.querySelector('#result_ajax');
                groupe_selector.innerHTML = res.message.content;
                console.log("Post successfully created!")
                //    }
            }).catch((error) => {
                console.log(error)
            })
        }
    </script>
{% endblock %}
