{% extends '@AcMarcheSport/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Sélection des activités pour {{ person }}</h3>
        </div>
        <div class="card-body">

            <div class="alert alert-info">
                <strong>Sélectionnez 4 activités en les numérotant de 1 à 4 suivant votre préférence</strong>
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-7">
                    {% for activity in activities %}
                        {% set preferenceNumber = '' %}
                        {% if inscriptionDto.selections[activity.id] is defined %}
                            {% set  preferenceNumber = inscriptionDto.selections[activity.id].preferenceNumber %}
                        {% endif %}
                        <div class="row mb-2">
                            <div class="col-6">
                                <label for="inscription_x" class="form-label required">
                                    <p class="text-success">{{ activity.name }}</p>
                                </label>
                            </div>
                            <div class="col-6">
                                <input type="number"
                                       value="{{ preferenceNumber }}"
                                       name="inscription[{{ activity.id }}]"
                                       inputmode="integer"
                                       max="4"
                                       min="0"
                                       class="form-control">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Sauvegarder
            </button>

            {{ form_end(form) }}
        </div>
        <div class="card-footer">

        </div>
    </div>

{% endblock %}
